/* Basic site styling (customize colors, fonts here) */
body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    color: white;
    font-size: 30px;
}
#logo { margin-right: 10px; }
#site-title { margin: 0; }

#filter-controls, #chart-controls {
    margin: 10px 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    #flex-wrap: wrap;
}
#table-container {
    flex: 2;
    min-width: 300px;
    padding: 10px;
}
#chart-container {
    flex: 2;
    min-width: 300px;
    padding: 10px;
}
#data-description{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #d3d3d3;
    color: #616161;
    border-radius: 30px;

}


@media (max-width: 600px) {
    #main-container { flex-direction: column; }
}

.button-chase {
  background-color: #629188;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}